@import 'shared.scss';

.product-image {
    background-color: $color-gray-light;
    box-sizing: border-box;
    height: 21.5em;
    margin: 0;
    padding: 3.38em 3.5em;
    width: 100%;

    &__img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}