@import 'variables.scss';

.bodyText {
    font-size: 1.06rem;
    line-height: 1.41;
    margin: 0;

    a {
        color: inherit;
        text-decoration-color: $color-gray-dark;
    }
}
.button {
    background-color: transparent;
    border: 2px solid $color-gray;
    font-size: 1.06rem;
    font-weight: 700;
    height: 4rem;
    line-height: 1.41;

    &__style_dark {
        background-color: $color-black;
        color: white;
        border: 2px solid $color-black;
    }
}
.h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.14;
}
.hr {
    background-color: $color-gray;
    border: none;
    height: 1px;
    width: 100%;
}